<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

	<typeAliases>
		<typeAlias type="com.tjoeun.vo.UserInfoVO" alias="vo"/>
		<typeAlias type="com.tjoeun.vo.ContentVO" alias="co"/>
		<typeAlias type="com.tjoeun.vo.Param" alias="param"/>
		<typeAlias type="com.tjoeun.vo.ReservationVO" alias="ro"/>
		<typeAlias type="com.tjoeun.vo.ReservationParam" alias="resParam"/>		
	</typeAliases>

</configuration>